Program2-Part2/1/randInteger1M.txt
Program2-Part2/1/randInteger10M.txt
Program2-Part2/1/serial_mmmavg
Program1-Part2B/writeup.txt
Program1-Part2B/.vscode/settings.json
Program2-Part2/.vscode/c_cpp_properties.json
Program2-Part2/.vscode/settings.json
Program2-Part2/1/mt_mmmavg
Program2-Part2/1/writeup.txt
Program2-Part2/omaraie_ashkan_program2part2.zip
Program 3/1/pdcr
Program 3/1/pdcr
Program 3/1/pdcr
